body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: fit-content; /* Fit the content width */
}

h1 {
    margin-bottom: 20px;
}

.navigation {
    display: flex; /* Use flexbox for navigation */
    justify-content: space-evenly; /* Space items evenly */
    width: 100%; /* Full width to space out items */
}

.navigation a {
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    background-color: #f8f9fa;
}

.navigation a:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.logout-button {
    position: absolute; /* Position absolutely within the relative parent */
    right: 10px; /* 10px from the right */
    top: 10px; /* 10px from the top */
}
